public/.well-known/

public/log/*
!public/log/.gitkeep

public/private/*
!public/private/.gitkeep

public/theme/*
!public/theme/.gitkeep

public/manifest.json
public/robots.txt
public/favicon.ico

upload/*
!upload/.gitkeep
!upload/.htaccess

vendor/
nbproject/

.env.php